body {
  background-image: url("https://i.pinimg.com/474x/e8/f1/20/e8f1208a50f5c1520c25122437b91c66.jpg");
  color: #105E26;
  text-shadow: #FFFF 9px 0 10px;
  font-family: Arial, Halvetica, sans-serif;
  margin: 10% 20%;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 3px solid #d4af37;
  border-bottom: 3px solid #d4af37;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/004/269/022/small/gold-background-with-texture-vector.jpg");
  
}
img {
  float: right;
}

.name {
  text-align: center;
  color: #d4af37;
  text-align: center;
}

h1 {
  border-bottom: 5px solid #d4af37;
}



