body {
  background-color: #E6E6FA;
  color: #105E26;
  font-family: Arial, Halvetica, sans-serif;
  margin: 10% 20%;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 3px solid #d4af37;
  border-bottom: 3px solid #d4af37;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/004/269/022/small/gold-background-with-texture-vector.jpg");
  
}
