body {
  background-image: url("https://thumbs.dreamstime.com/b/purple-glitter-texture-background-stars-sparkle-background-vibrant-bright-glitter-background-purple-glitter-texture-background-233413498.jpg");
  color: #105E26;
  text-shadow: #FFFF 1px 0 10px;
  font-family: Arial, Halvetica, sans-serif;
  margin: 10% 20%;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 3px solid #d4af37;
  border-bottom: 3px solid #d4af37;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/004/269/022/small/gold-background-with-texture-vector.jpg");
  
}
img {
  float: right;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

#name div {
  align-items: center;
}
